/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Parkinsans', Arial, Helvetica, sans-serif; /* Use Parkinsans font */
}

/* Custom class for sliding the white box */
.translate-x-negative {
  transform: translateX(-100%);
}

.transition-transform {
  transition: transform 0.5s ease;
}

.translate-x-positive {
  transform: translateX(43%);
}

/* Smooth alignment transitions */
.transition-all {
  transition: all 0.5s ease;
}

/* Smooth opacity transitions */
.opacity-transition {
  transition: opacity 0.5s ease, transform 0.5s ease;
}